@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-value {
    background-color: #C3AEA5;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.title {
    font-size: 50px;
    font-family: 'Tilt Warp', cursive;
    margin-bottom: 50px;
}

.inputbox {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #F1E2DB;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
  
::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color:transparent ;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn {
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color:  #715e66;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background-color: #F1E2DB;
    ;
    background-position: center;
    background-size: cover;
}



h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}





input:focus~label,
input:valid~label {
    top: -5px;
}

.resetBtn:hover {
    background-color: #8d747d;
    transform: translateY(-2px);
}


.resetBtn {
    font-family: 'Quicksand', sans-serif;
    padding: 15px 30px;
    border: none;
    background-color:  #715e66;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}


.submitBtn {
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color:  #715e66;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
  

.submitBtn:hover {
    background-color: #8d747d;
    transform: translateY(-2px);
}



.signupFrm{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    top: 25px;
    position: relative;
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color:  #715e66;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.resetBtn, .submitBtn {
    display: inline-block;
}
  